* {
  margin: 0;
  padding: 0;
}
main {
  width: 100rem;
  height: 60rem;
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  justify-content: space-evenly;
  height: 100vh;
  width: 100%;
}
.diceContainer {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.player0 {
  grid-area: 2 / 1 / 4 / 3;
  display: inline-grid;
  justify-content: space-around;
  align-content: center;
}

.player1 {
  grid-area: 2 / 4 / 4 / 6;
  display: inline-grid;
  justify-content: space-around;
  align-content: center;
}

.Controls {
  grid-area: 4 / 2 / 5 / 5;
  display: inline-grid;
  justify-content: space-around;
  align-content: center;
}

.diceInnerContainer {
  display: inline-block;
  left: 40%;
  top: 200px;
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #ef233c;
  box-shadow: inset 2px 2px #d90429;
}

.side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-3 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-4 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.show-5 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-2 {
  transform: rotateX(450deg) rotateZ(-720deg);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}

.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  position: relative;
  font-size: 4vw;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1rem;
}
.active {
  background-color: #eeeeee;
  opacity: 0.9;
}
.winner {
  background-color: #2f2f2f;
}

.score {
  font-size: 6vw;
  color: #d0021b;
  margin-top: 10px;
}

.hide {
  display: none;
}

.currentDiv {
  background-color: #d0021b;
  color: #fff;
  width: 45%;
  padding: 20px;
  text-align: center;
}
.current {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 2vw;
  color: #ddd;
}

.current-score {
  font-size: 2vw;
}

.button {
  color: #444;
  background: none;
  border: none;
  font-size: 2vw;
  cursor: pointer;
  font-weight: 400;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 2rem;
}

.winning-score {
  display: inherit;
  text-align: center;
  margin-bottom: 15px;
}

.winningScoreInput {
  width: 100px;
  height: 25px;
  font-size: 1.8rem;
  margin: 5px;
  margin-bottom: 20px;
}
