/* Font-Family: 'Roboto', Sans-Serif;
Font-Size: 35px;
Font-Family: 'Droid Serif', Serif;
Font-Size: 15px; */

* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.main {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.grid-container {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "player0 diceContainer diceContainer player1" "player0 . . player1" "player0 . . player1" "player0 controls controls player1";
}
.diceContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  grid-area: diceContainer;
  padding: 2rem;
  grid-gap: 2rem;
}

.dice {
  height: 6vw;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player0 {
  justify-content: space-around;
  align-content: center;
  grid-area: player0;
}

.player1 {
  justify-content: space-around;
  align-content: center;
  grid-area: player1;
}

.Controls {
  display: inline-block;
  justify-content: space-around;
  grid-area: controls;
}

.die-list {
  display: grid;
  grid-template-columns: 0.6fr;
  grid-template-rows: 0.6fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 8rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
}
.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

.player {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  position: relative;
  text-transform: uppercase;
  font-family: "Roboto", Sans-Serif;
  font-weight: 800;
  font-size: 4vw;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 1rem;
}
.active {
  background-color: #eeeeee;
  opacity: 0.9;
}
.winner {
  background-color: #2f2f2f;
}

.score {
  font-size: 6vw;
  color: #d0021b;
  margin-top: 10px;
}

.hide {
  display: none;
}

.currentDiv {
  background-color: #d0021b;
  color: #fff;
  width: 45%;
  padding: 20px;
  text-align: center;
}
.current {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: "Roboto", Sans-Serif;
  font-weight: 700;
  font-size: 2vw;
  color: #ddd;
}

.current-score {
  font-size: 2vw;
}

.button {
  color: #444;
  background: none;
  border: none;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Droid Serif", Serif;
  font-size: 2vw;
  cursor: pointer;
  font-weight: 400;
  text-align: center;
  align-items: center;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem 2rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.reveal {
  animation: fadeUp 0.3s forwards;
  pointer-events: visible;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    bottom: 0;
  }

  100% {
    opacity: 1;
    bottom: 20px;
  }
}

.winning-score {
  color: #444;
  display: inherit;
  text-align: center;
  text-transform: uppercase;
  font-family: "Droid Serif", Serif;
  font-size: 2vw;
  margin-bottom: 15px;
  padding-top: auto;
}

.winningScoreInput {
  color: #444;
  width: 100px;
  height: 25px;
  text-transform: uppercase;
  font-family: "Droid Serif", Serif;
  font-size: 2vw;
  margin: 5px;
  margin-bottom: 20px;
}
