* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
}

.name {
  position: relative;
  font-size: 64px;
}
.active {
  background-color: #eeeeee;
  opacity: 0.9;
}
.winner {
  background-color: #2f2f2f;
}

.score {
  font-size: 128px;
  color: #d0021b;
  margin-top: 10px;
}

.diceContainer {
  grid-area: 1 / 2 / 2 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice {
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player0 {
  grid-area: 2 / 1 / 4 / 3;
  justify-content: center;
  align-items: center;
  place-self: center;
}

.player1 {
  grid-area: 2 / 4 / 4 / 6;
  justify-content: center;
  align-items: center;
  place-self: center;
}

.Controls {
  grid-area: 4 / 2 / 5 / 5;
}

.hide {
  display: none;
}

.currentDiv {
  background-color: #d0021b;
  color: #fff;
  width: 45%;
  padding: 10px;
  text-align: center;
}
.current {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 30px;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.button {
  position: absolute;
  left: 50%;
  color: #444;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
  font-weight: 400;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
}
.rollDice {
  top: 50rem;
}
.holdScore {
  top: 55rem;
}
.newGame {
  top: 60rem;
}

.winning-score {
  position: absolute;
  width: 150px;
  top: 65rem;
  left: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.winningScoreInput {
  width: 100px;
  height: 25px;
  font-size: 1.8rem;
  margin: 5px;
  margin-bottom: 20px;
}
